/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Layout
   ========================================================================== */

.container .box-ad .col-md-4 {
text-align: center;
width: 300px;
padding: 0;
margin-right: 1em;
}
.box-ad img{
	width:100%;
}
.jumbotron {
	background-color: #fff;
	padding-top: 10px;
}



.jumbotron p {
/* padding: 2em; */
text-align: left;
font-size: 18px;
}

/* =========================================================================
   Header
   ========================================================================== */

.navbar-header {
	background-color: #6699cc;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	z-index: 31;
	text-align: center;
}

.leaderboard {
	display: block;
	text-align: center;
	margin-top: 5rem;
	max-width: 100%;
}

.leaderboard img {
	max-width: 100%;
	height: auto;
}

.wrapper-clearfix .navbar-brand {
	float: none;
	margin: 0.5rem;
	font-family: 'Whitney SSm A', 'Whitney SSm B';
	font-weight: 700;
	font-style: normal;
	font-size: 3rem;
	line-height: 2rem;
	color: #FFFFFF;
}

.spec-logo {
	float: right;
	height: 4rem;
	width: auto;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	left: 0;
	z-index: 32;
	margin-right: 7%;
	display: none;
}

@media(min-width: 890px) {
	.spec-logo {
		display: block;
	}

	.wrapper-clearfix .navbar-brand {
		float: left;
		padding-left: 3em;
	}
}

/* ==========================================================================
   Body
   ========================================================================== */

p {
	font-family: 'Whitney SSm A', 'Whitney SSm B'; 
	font-weight: 400; 
	font-style: normal;
}

h2 {
	font-family: 'Whitney SSm A', 'Whitney SSm B'; 
	font-weight: 600; 
	font-style: normal;
}

iframe {
	display: block;
	text-align: center;

}

.container .box-ad .col-md-4 {
	text-align: center;
}

.package-graphic {
width:100%;
}

.addthis_sharing_toolbox {
	float:left;
	margin-top:0.5rem;
	display:block;
}

@media only screen and (max-width: 979px) {
	.addthis_sharing_toolbox {
		display:none;
	}
}

.clearfix {
margin: 2em 0;
}

.jumbotron{
	margin:0;
	padding:0;
}
.col-md-4{
	padding-left:0;
}
.box-ad{padding-left: 23%;}
/* ==========================================================================
   Footer
   ========================================================================== */

footer {
	padding-left: 3em;
}


.nvd3 .nv-groups .nv-point {
    stroke-opacity: 1 !important;
    stroke-width: 5px;
}

.nvd3 .nv-axis .nv-axisMaxMin text {
font-weight: bold;
font-family: 'Whitney SSm A';
}

svg text {
font: normal 12px 'Whitney SSm A';
text-transform: uppercase;
}

body {
font-family: 'Whitney SSm A';
}

.jumbotron .col-md-4.graph {
width: 73.66%;
}
.row-top.clearfix {
background-color: #efefef;
padding: 1em;
}

.byline {
margin-top: 20px;
margin-bottom: 10px;
}



